* {
    padding: 0;
    margin: 0;
}

.osnv {
    width: 600px;
    height: 400px;
    background-color: aqua;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}

.circle1 {
    background-color:  rgb(255, 255, 255, 0.8);
    border-radius: 50%;
    position: relative;
    bottom: 120px;
    left: 450px;
    width: 300px;
    height: 300px;
}

.circle2 {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 50%;
    position: relative;
    top: -170px;
    left: 320px;
    width: 300px;
    height: 300px;
}
.info {
    position: relative;
    top: 110px;
    left: 111px;
}